body {
    font-family: Arial, sans-serif;
    background-color: #ccc;
    background-image: url('weather1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Set the height to fill the viewport */
    margin: 0; /* Remove default margin */
    padding: 0; 
  }

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.weather-info {
    margin-top: 20px;
}